org.dslforge*
org.eclipse*
.metadata
/.recommenders/
*.class


org\.xtext\.bmod/bin/

org\.xtext\.bmod\.ide/bin/

#org\.xtext\.bmod\.ide/

#org\.xtext\.ha\.ide/

#org\.xtext\.ha/

org\.xtext\.bmod\.tests/xtend-gen/

#org\.xtext\.bmod\.ui/

#org\.xtext\.ha\.ui/

org\.xtext\.ha\.web/

#org\.xtext\.ha\.tests/

#org\.xtext\.bmod\.tests/
