<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- @generated dslforge -->
<plugin>
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="org.xtext.ha.web.editor.widget.RulesResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.xtext.ha.web.editor.widget.Rules"
            id="org.xtext.ha.web.editor.widget.Rules"
            name="Rules">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.xtext.ha.web.editor"
            name="Rules Model Editor"
		            extensions="ha"
           class="org.xtext.ha.web.editor.RulesEditor"
            contributorClass="org.xtext.ha.web.editor.RulesActionBarContributor">
      </editor>
   </extension>
   <extension
     point="org.dslforge.xtext.common.contribution">
  <contribution
       factory="org.xtext.ha.web.RulesExecutableExtensionFactory"
        path="/org.xtext.ha/src/org/xtext/ha/Rules.xtext"
        extension="ha">
  </contribution>
</extension>
</plugin>
